In [1]:
import requests
from bs4 import BeautifulSoup
import pymysql
from urllib.parse import urljoin
import os
from concurrent.futures import ThreadPoolExecutor
import re
import csv



def clear_table():
    try:
        # Update the table name accordingly
        sql = "DELETE FROM books"
        mysql_cursor.execute(sql)
        mysql_conn.commit()
        print("Table cleared successfully")
    except Exception as e:
        print(f"Error clearing table: {e}")
        
def get_book_url():
    base_url = f"http://books.toscrape.com/catalogue/"
    # 遍历所有页面
    all_links = []
    for i in range(1,51):
        url = base_url + f'page-'+str(i)+f'.html'
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        links = [urljoin(base_url, a['href']) for h3 in soup.find_all('h3') for a in h3.find_all('a', href=True)]
        all_links.extend(links)
    return all_links

def scrape_book_info(url):
    try:
        response = requests.get(url)
        if response.status_code == 200:
            soup = BeautifulSoup(response.text, 'html.parser')
            title = soup.find('h1').text.strip()
            image_url = urljoin(url, soup.find('div', class_='item active').find('img')['src'])
            price = soup.find('p', class_='price_color').text.strip()
            rating = soup.find('p', class_='star-rating')['class'][1]
            number = soup.find('h3').find('a')['href'].split('_')[-1].replace("/index.html", "")
            print([number, title, image_url, rating, price])
            download_image(image_url, folder, title)
            save_to_mysql(number, title, image_url, rating, price)
            save_to_csv([number, title, image_url, rating, price])

    except Exception as e:
        print(f"Error scraping {url}: {e}")

def download_image(image_url, folder, filename):
    # 使用正则表达式去除文件名中的非法字符并截断为较短的长度
    image_name = re.sub(r'[\/:*?"<>|]', '_', filename)[:100] + ".jpg"
    os.makedirs(folder, exist_ok=True)
    response = requests.get(image_url)
    with open(os.path.join(folder, f"{image_name}"), 'wb') as f:
        f.write(response.content)

def save_to_mysql(book_number, title, image_url, rating, price):
    try:
        sql = "INSERT INTO books (number, title, picture, rating, price) VALUES (%s, %s, %s, %s, %s)"
        values = (book_number, title, image_url, rating, price)
        mysql_conn.ping(reconnect=True)
        mysql_cursor.execute(sql, values)
        mysql_conn.commit()
        print("Book information saved to the database")
    except Exception as e:
        print(f"Error saving to the database: {e}")
        
def save_to_csv(data):
    header = ["Number", "Title", "Image URL", "Rating", "Price"]
    csv_filename = 'books.csv'
    if not os.path.exists(csv_filename):
        with open(csv_filename, 'w', newline='', encoding='utf-8') as csvfile:
            csv_writer = csv.writer(csvfile)
            csv_writer.writerow(header)

    with open(csv_filename, 'a', newline='', encoding='utf-8') as csvfile:
        csv_writer = csv.writer(csvfile)
        csv_writer.writerow(data)


if __name__ == "__main__":
    # 初始化数据库连接
    mysql_conn = pymysql.connect(host='localhost', user='root', password='mysqlpassword', database='books_db')
    mysql_cursor = mysql_conn.cursor()

    folder = "./task3_picture"
    # 由于过程重复爬取，故每次爬取时先清除表的内容
    clear_table()
    urls = get_book_url()
    num_threads = 10
    with ThreadPoolExecutor(max_workers=num_threads) as executor:
        executor.map(scrape_book_info, urls)
    # 关闭数据库连接
    mysql_cursor.close()
    mysql_conn.close()

d:\Applications\Development\Anaconda3\envs\py36\lib\site-packages\pymysql\_auth.py:8: CryptographyDeprecationWarning: Python 3.6 is no longer supported by the Python core team. Therefore, support for it is deprecated in cryptography. The next release of cryptography will remove support for Python 3.6.
  from cryptography.hazmat.backends import default_backend

Table cleared successfully
Error scraping http://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html: 'NoneType' object has no attribute 'find'
['1000', 'Tipping the Velvet', 'http://books.toscrape.com/media/cache/08/e9/08e94f3731d7d6b760dfbfbc02ca5c62.jpg', 'One', 'Â£53.74']
['999', 'Soumission', 'http://books.toscrape.com/media/cache/ee/cf/eecfe998905e455df12064dba399c075.jpg', 'One', 'Â£50.10']
['997', 'Sapiens: A Brief History of Humankind', 'http://books.toscrape.com/media/cache/ce/5f/ce5f052c65cc963cf4422be096e915c9.jpg', 'Five', 'Â£54.23']
['995', 'The Dirty Little Secrets of Getting Your Dream Job', 'http://books.toscrape.com/media/cache/e1/1b/e11bea016d0ae1d7e2dd46fb3cb870b7.jpg', 'Four', 'Â£33.34']
['992', 'The Black Maria', 'http://books.toscrape.com/media/cache/d1/7a/d17a3e313e52e1be5651719e4fba1d16.jpg', 'One', 'Â£52.15']
['993', 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', 'http://books.toscrape.com/media/cache/d1/2d/d12d26739b5369a6b5b3024e4d08f907.jpg', 'Four', 'Â£22.60']
['998', 'Sharp Objects', 'http://books.toscrape.com/media/cache/c0/59/c05972805aa7201171b8fc71a5b00292.jpg', 'Four', 'Â£47.82']
['996', 'The Requiem Red', 'http://books.toscrape.com/media/cache/6b/07/6b07b77236b7c80f42bd90bf325e69f6.jpg', 'One', 'Â£22.65']
Book information saved to the database
Book information saved to the database
['994', 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull', 'http://books.toscrape.com/media/cache/97/36/9736132a43b8e6e3989932218ef309ed.jpg', 'Three', 'Â£17.93']
['991', 'Starving Hearts (Triangular Trade Trilogy, #1)', 'http://books.toscrape.com/media/cache/a0/7e/a07ed8f1c23f7b4baf7102722680bd30.jpg', 'Two', 'Â£13.99']
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
['990', "Shakespeare's Sonnets", 'http://books.toscrape.com/media/cache/4d/7a/4d7a79a8be80a529b277ed5c4d8ba482.jpg', 'Four', 'Â£20.66']
['989', 'Set Me Free', 'http://books.toscrape.com/media/cache/b8/e9/b8e91bd2fc74c3954118999238abb4b8.jpg', 'Five', 'Â£17.46']
['988', "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)", 'http://books.toscrape.com/media/cache/97/27/97275841c81e66d53bf9313cba06f23e.jpg', 'Five', 'Â£52.29']
['987', 'Rip it Up and Start Again', 'http://books.toscrape.com/media/cache/81/7f/817f5089c0e6e62738dce2931e7323d3.jpg', 'Five', 'Â£35.02']
Book information saved to the database
['985', 'Olio', 'http://books.toscrape.com/media/cache/b1/0e/b10eabab1e1c811a6d47969904fd5755.jpg', 'One', 'Â£23.88']
['982', "It's Only the Himalayas", 'http://books.toscrape.com/media/cache/6d/41/6d418a73cc7d4ecfd75ca11d854041db.jpg', 'Two', 'Â£45.17']['983', 'Libertarianism for Beginners', 'http://books.toscrape.com/media/cache/91/a4/91a46253e165d144ef5938f2d456b88f.jpg', 'Two', 'Â£51.33']

['986', 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991', 'http://books.toscrape.com/media/cache/ad/96/ad96e9c9f1664cbcb0e9627b007fb6f9.jpg', 'Three', 'Â£57.25']
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
['984', 'Mesaerion: The Best Science Fiction Stories 1800-1849', 'http://books.toscrape.com/media/cache/e8/1f/e81f850db9b9622c65619c9f15748de7.jpg', 'One', 'Â£37.59']
Book information saved to the database
['276', 'In Her Wake', 'http://books.toscrape.com/media/cache/27/92/2792ef951651ff1eae40a410cac41e0f.jpg', 'One', 'Â£12.84']
Book information saved to the database
Book information saved to the database
['6', 'Chase Me (Paris Nights #2)', 'http://books.toscrape.com/media/cache/6c/84/6c84fcf7a53b02b6e763de7272934842.jpg', 'Five', 'Â£25.27']
Book information saved to the database
['170', 'Foolproof Preserving: A Guide to Small Batch Jams, Jellies, Pickles, Condiments, and More: A Foolproof Guide to Making Small Batch Jams, Jellies, Pickles, Condiments, and More', 'http://books.toscrape.com/media/cache/9f/58/9f58d3ff6d58589eaf325b1a33c303a0.jpg', 'Three', 'Â£30.52']['832', 'How Music Works', 'http://books.toscrape.com/media/cache/1d/40/1d4087ff0a63f09fae9cd8433d21c2c4.jpg', 'Two', 'Â£37.32']

['977', 'Black Dust', 'http://books.toscrape.com/media/cache/a4/0a/a40af95beab828af1a4757ad1ee17da3.jpg', 'Five', 'Â£34.53']
['692', 'Birdsong: A Story in Pictures', 'http://books.toscrape.com/media/cache/af/2f/af2fe2419ea136f2cd567aa92082c3ae.jpg', 'Three', 'Â£54.64']
Book information saved to the database
Book information saved to the database
['19', "America's Cradle of Quarterbacks: Western Pennsylvania's Football Factory from Johnny Unitas to Joe Montana", 'http://books.toscrape.com/media/cache/a3/2a/a32ab3b8c024c6c2b274a86b185e7585.jpg', 'Three', 'Â£22.50']
['974', 'Aladdin and His Wonderful Lamp', 'http://books.toscrape.com/media/cache/a8/3c/a83c460fab82f35a37c0846729485547.jpg', 'Three', 'Â£53.13']
['14', 'Worlds Elsewhere: Journeys Around Shakespeareâ\x80\x99s Globe', 'http://books.toscrape.com/media/cache/7b/d9/7bd93db091d736d0c6ff9d578e3ba3d7.jpg', 'Five', 'Â£40.30']
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
['301', 'The Four Agreements: A Practical Guide to Personal Freedom', 'http://books.toscrape.com/media/cache/2b/1b/2b1bfecae9d512cb6ee943ccf786216f.jpg', 'Five', 'Â£17.66']
['93', 'Wall and Piece', 'http://books.toscrape.com/media/cache/df/34/df346322ddfdd3b4da0e34cad17f49dc.jpg', 'Four', 'Â£44.18']
['972', 'The Five Love Languages: How to Express Heartfelt Commitment to Your Mate', 'http://books.toscrape.com/media/cache/7c/10/7c10101fe1759c5a17ba57e4bef9e764.jpg', 'Three', 'Â£31.05']
['980', 'The Elephant Tree', 'http://books.toscrape.com/media/cache/4b/80/4b80a3d9148e224ed4d6cd4d33f43728.jpg', 'Five', 'Â£23.82']
['975', 'The Bear and the Piano', 'http://books.toscrape.com/media/cache/d0/87/d0876dcd1a6530a4cb54903aad7a3e28.jpg', 'One', 'Â£36.89']
['973', 'Penny Maybe', 'http://books.toscrape.com/media/cache/b1/4b/b14be641ab97a330891455a769d52fd3.jpg', 'Three', 'Â£33.29']
Book information saved to the database
Book information saved to the database
Book information saved to the database
['5', "Sophie's World", 'http://books.toscrape.com/media/cache/d7/39/d73914232130fdf90d66f02fd9798f2b.jpg', 'Five', 'Â£15.94']
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
['965', 'Maude (1883-1993):She Grew Up with the country', 'http://books.toscrape.com/media/cache/65/bf/65bfa3acc93b0e558a1c3de1b1164742.jpg', 'Two', 'Â£18.02']
['1', 'In a Dark, Dark Wood', 'http://books.toscrape.com/media/cache/95/84/95840dfd67c020067c99d70451147e20.jpg', 'One', 'Â£19.63']
['968', 'Behind Closed Doors', 'http://books.toscrape.com/media/cache/a5/85/a58571db229f2e8f75ea38861eca7f39.jpg', 'Four', 'Â£52.22']
['81', "You can't bury them all: Poems", 'http://books.toscrape.com/media/cache/b7/44/b7440aa88046b0bf8cba50d59295518e.jpg', 'Two', 'Â£33.63']
Book information saved to the database
['961', 'Slow States of Collapse: Poems', 'http://books.toscrape.com/media/cache/db/ac/dbac3faca8a799824f5725d66c0fcce3.jpg', 'Three', 'Â£57.31']
['969', 'Reasons to Stay Alive', 'http://books.toscrape.com/media/cache/f5/3c/f53c7d21723c860cfbca2b539bc55b8f.jpg', 'Two', 'Â£26.41']
['959', '#HigherSelfie: Wake Up Your Life. Free Your Soul. Find Your Tribe.', 'http://books.toscrape.com/media/cache/71/45/71451e3bba61a8d888a4a2c6526a4bcf.jpg', 'Five', 'Â£23.11']
['473', 'Without Borders (Wanderlove #1)', 'http://books.toscrape.com/media/cache/de/26/de269ee688d4dc51846567f3942600ce.jpg', 'Two', 'Â£45.07']
['10', 'Private Paris (Private #10)', 'http://books.toscrape.com/media/cache/05/87/0587ab519222a61f803fa4570c325ad2.jpg', 'Five', 'Â£47.61']
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
['285', 'When We Collided', 'http://books.toscrape.com/media/cache/17/db/17db3de71e8217d4277a9328b04f56cf.jpg', 'One', 'Â£31.77']
Book information saved to the database
Book information saved to the database
['958', 'We Love You, Charlie Freeman', 'http://books.toscrape.com/media/cache/87/a2/87a2fddd7f6b240c0351e1eb950b6716.jpg', 'Five', 'Â£50.27']
Book information saved to the database
Book information saved to the database
['960', 'Untitled Collection: Sabbath Poems 2014', 'http://books.toscrape.com/media/cache/65/6e/656e79dfd4f8b6bf19ffde2c75ceda81.jpg', 'Four', 'Â£14.27']
Book information saved to the database
['957', 'Unseen City: The Majesty of Pigeons, the Discreet Charm of Snails & Other Wonders of the Urban Wilderness', 'http://books.toscrape.com/media/cache/88/a4/88a4b5f7236b8a36ba972be5ebe4f252.jpg', 'Four', 'Â£44.18']
['640', 'Unicorn Tracks', 'http://books.toscrape.com/media/cache/9b/09/9b0935dc936c92900c2dc5d2114da72f.jpg', 'Three', 'Â£18.78']
['169', 'Unbound: How Eight Technologies Made Us Human, Transformed Society, and Brought Our World to the Brink', 'http://books.toscrape.com/media/cache/27/a1/27a1ebe79d6e6759ec68ea9f427a4f71.jpg', 'One', 'Â£25.52']
['160', 'Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRoNiCLE #2)', 'http://books.toscrape.com/media/cache/8b/ab/8bab133ec9f8248a8d5f5ea5c09d0f56.jpg', 'One', 'Â£16.28']
Book information saved to the database
['949', 'This One Summer', 'http://books.toscrape.com/media/cache/ee/43/ee4364a59d66bafb1b3264419ab3ed9e.jpg', 'Four', 'Â£19.49']
['952', 'Throwing Rocks at the Google Bus: How Growth Became the Enemy of Prosperity', 'http://books.toscrape.com/media/cache/f4/21/f4210912ca58ef35f8ad120fe3dfed38.jpg', 'Three', 'Â£31.12']
Book information saved to the database
['954', 'Thirst', 'http://books.toscrape.com/media/cache/8c/54/8c54a50576c204b80165a13545f73028.jpg', 'Five', 'Â£17.27']
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
['25', 'The Torch Is Passed: A Harding Family Story', 'http://books.toscrape.com/media/cache/c7/26/c7260547c468dbe78af92cf3927c2a1c.jpg', 'One', 'Â£19.09']
Book information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'read'
Book information saved to the database
['963', 'The Past Never Ends', 'http://books.toscrape.com/media/cache/9d/f2/9df248dcefeaba9eeb519a59b248f72c.jpg', 'Four', 'Â£56.50']
Book information saved to the database
['967', 'The Secret of Dreadwillow Carse', 'http://books.toscrape.com/media/cache/7b/fd/7bfde4a3d6793f13e9a2d8851a398847.jpg', 'One', 'Â£56.13']
['978', 'The Pioneer Woman Cooks: Dinnertime: Comfort Classics, Freezer Food, 16-Minute Meals, and Other Delicious Ways to Solve Supper!', 'http://books.toscrape.com/media/cache/fd/af/fdaf3c3104c559941c01e840fecd2659.jpg', 'One', 'Â£56.41']
['947', 'The Nameless City (The Nameless City #1)', 'http://books.toscrape.com/media/cache/19/de/19deee0778c2406da04a4dd0ea09188f.jpg', 'Four', 'Â£38.16']
['946', 'The Murder That Never Was (Forensic Instincts #5)', 'http://books.toscrape.com/media/cache/29/e0/29e036acd8a6e3daa787ce2bc05bdbbb.jpg', 'Three', 'Â£54.11']
['632', "The Most Perfect Thing: Inside (and Outside) a Bird's Egg", 'http://books.toscrape.com/media/cache/a3/9e/a39e7c5c9fc61c2ae0f81116aa8cbb0e.jpg', 'Four', 'Â£42.96']
['38', 'The Natural History of Us (The Fine Art of Pretending #2)', 'http://books.toscrape.com/media/cache/da/b8/dab87c14168f3ce18530447ec6437361.jpg', 'Three', 'Â£45.22']
Book information saved to the database
['945', 'The Mindfulness and Acceptance Workbook for Anxiety: A Guide to Breaking Free from Anxiety, Phobias, and Worry Using Acceptance and Commitment Therapy', 'http://books.toscrape.com/media/cache/c9/eb/c9eb6ecf45abf796df0044600db65e55.jpg', 'Four', 'Â£23.89']
['948', 'The Life-Changing Magic of Tidying Up: The Japanese Art of Decluttering and Organizing', 'http://books.toscrape.com/media/cache/26/65/2665876e19a6c92130f02cfda3bd3846.jpg', 'Three', 'Â£16.77']Book information saved to the database

Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
['936', 'The Gutsy Girl: Escapades for Your Life of Epic Adventure', 'http://books.toscrape.com/media/cache/73/cb/73cb1236d96f455d712516fffeae2304.jpg', 'One', 'Â£37.13']
Book information saved to the database
Book information saved to the database
Book information saved to the database
['964', 'The Inefficiency Assassin: Time Management Tactics for Working Smarter, Not Longer', 'http://books.toscrape.com/media/cache/a5/b8/a5b8d2d5165a06fc762e8eaf8b04f98f.jpg', 'Five', 'Â£20.59']
Book information saved to the database
['568', 'The Bulletproof Diet: Lose up to a Pound a Day, Reclaim Energy and Focus, Upgrade Your Life', 'http://books.toscrape.com/media/cache/9c/c6/9cc673854af8fd155953384b3cac334e.jpg', 'Three', 'Â£49.05']
['966', 'The Death of Humanity: and the Case for Life', 'http://books.toscrape.com/media/cache/3f/f6/3ff6fe5d0c5ca7ab2ed8b5971e299caa.jpg', 'Four', 'Â£58.11']
['937', 'The Art Forger', 'http://books.toscrape.com/media/cache/f5/3b/f53bc7b18914c97de7c23967293be119.jpg', 'Three', 'Â£40.76']
['950', 'The Age of Genius: The Seventeenth Century and the Birth of the Modern Mind', 'http://books.toscrape.com/media/cache/2e/65/2e654066306042f4c462ba4d048650d9.jpg', 'One', 'Â£19.73']['970', "The Activist's Tao Te Ching: Ancient Advice for a Modern Revolution", 'http://books.toscrape.com/media/cache/da/0c/da0ca35421a5120b2109028e44a53f56.jpg', 'Five', 'Â£32.24']

Book information saved to the database
['935', 'Soul Reader', 'http://books.toscrape.com/media/cache/cc/5e/cc5e82c2205da748c6c19fbc1876586b.jpg', 'Two', 'Â£39.58']
Book information saved to the database
['933', 'Spark Joy: An Illustrated Master Class on the Art of Organizing and Tidying Up', 'http://books.toscrape.com/media/cache/17/19/1719475c51206a410a90fe5f3708df4c.jpg', 'Four', 'Â£41.83']
['934', 'The Electric Pencil: Drawings from Inside State Hospital No. 3', 'http://books.toscrape.com/media/cache/b1/0f/b10faf0dee8994865437ffc79682dc2f.jpg', 'One', 'Â£56.06']
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
['167', 'Security', 'http://books.toscrape.com/media/cache/79/2b/792bdeb2cf7d8efaef0e401e5a27b4da.jpg', 'Two', 'Â£39.25']
Book information saved to the database
['951', 'Saga, Volume 6 (Saga (Collected Editions) #6)', 'http://books.toscrape.com/media/cache/4a/99/4a996ae54711cea37e370428b54f8b19.jpg', 'Three', 'Â£25.02']
Book information saved to the database
Book information saved to the database
Book information saved to the database
['940', 'Saga, Volume 5 (Saga (Collected Editions) #5)', 'http://books.toscrape.com/media/cache/60/3c/603c8f3dd299efe67616a53e5bfb1d03.jpg', 'Two', 'Â£51.04']
['927', 'Reskilling America: Learning to Labor in the Twenty-First Century', 'http://books.toscrape.com/media/cache/2c/d2/2cd2b814b8a8cd3a49895cbd13a8b1f4.jpg', 'Two', 'Â£19.83']
['923', 'Rat Queens, Vol. 3: Demons (Rat Queens (Collected Editions) #11-15)', 'http://books.toscrape.com/media/cache/d5/d0/d5d015a9cf899301cce5d1a629bdd974.jpg', 'Three', 'Â£50.40']['921', 'Princess Jellyfish 2-in-1 Omnibus, Vol. 01 (Princess Jellyfish 2-in-1 Omnibus #1)', 'http://books.toscrape.com/media/cache/6c/8f/6c8ffe949fb650ba60eff25be1692881.jpg', 'Five', 'Â£13.61']

Book information saved to the database
['924', 'Princess Between Worlds (Wide-Awake Princess #5)', 'http://books.toscrape.com/media/cache/db/01/db01b38d3200a5faff4ead42791416e4.jpg', 'Five', 'Â£13.34']
['920', 'Pop Gun War, Volume 1: Gift', 'http://books.toscrape.com/media/cache/6f/7b/6f7b3b8445b943f4ff7426360daefb88.jpg', 'One', 'Â£18.97']
Book information saved to the database
['929', 'Political Suicide: Missteps, Peccadilloes, Bad Calls, Backroom Hijinx, Sordid Pasts, Rotten Breaks, and Just Plain Dumb Mistakes in the Annals of American Politics', 'http://books.toscrape.com/media/cache/31/e6/31e6e0a41e62858180b268c27b20a770.jpg', 'Two', 'Â£36.28']
['918', 'Patience', 'http://books.toscrape.com/media/cache/71/0c/710cdaa148f10aac35c27bb93b4f532e.jpg', 'Three', 'Â£10.16']
['916', 'Outcast, Vol. 1: A Darkness Surrounds Him (Outcast #1)', 'http://books.toscrape.com/media/cache/0c/8a/0c8ae80b592bc1b4c555d6b29d1cfa28.jpg', 'Four', 'Â£15.44']Book information saved to the database

Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
['915', 'orange: The Complete Collection 1 (orange: The Complete Collection #1)', 'http://books.toscrape.com/media/cache/33/0b/330bf57e3f2e70548f87d39cb956f7eb.jpg', 'One', 'Â£48.41']
Book information saved to the database
['384', 'Online Marketing for Busy Authors: A Step-By-Step Guide', 'http://books.toscrape.com/media/cache/49/e1/49e1f207b2149e34390a2c6aa7cfc113.jpg', 'One', 'Â£46.35']
['930', 'On a Midnight Clear', 'http://books.toscrape.com/media/cache/75/9d/759d9276739200e2cb8101a36449ba20.jpg', 'Three', 'Â£14.07']
Book information saved to the database
['941', 'Obsidian (Lux #1)', 'http://books.toscrape.com/media/cache/88/3f/883fb0f2304efca8724c629f03a4b82a.jpg', 'Two', 'Â£14.86']
Book information saved to the database
['910', 'Mama Tried: Traditional Italian Cooking for the Screwed, Crude, Vegan, and Tattooed', 'http://books.toscrape.com/media/cache/48/19/48192cbef9101060e3787d87d7c8d7d1.jpg', 'Four', 'Â£14.02']
['943', 'My Paris Kitchen: Recipes and Stories', 'http://books.toscrape.com/media/cache/ae/d5/aed548aefcac7803a599b05da3acb86e.jpg', 'Two', 'Â£33.37']['919', 'Masks and Shadows', 'http://books.toscrape.com/media/cache/05/c4/05c43fe821ae19169c7baa8a54c7e869.jpg', 'Two', 'Â£56.40']

['914', 'Lumberjanes, Vol. 2: Friendship to the Max (Lumberjanes #5-8)', 'http://books.toscrape.com/media/cache/67/f8/67f83a06f77d0ff3b06cb8ac04839422.jpg', 'Two', 'Â£46.91']
Book information saved to the database
Book information saved to the database
Book information saved to the database
['907', 'Lumberjanes, Vol. 1: Beware the Kitten Holy (Lumberjanes #1-4)', 'http://books.toscrape.com/media/cache/1c/78/1c78cb31ededc4c662857cf65bd1619d.jpg', 'Three', 'Â£45.61']
['906', 'Lumberjanes Vol. 3: A Terrible Plan (Lumberjanes #9-12)', 'http://books.toscrape.com/media/cache/d6/9b/d69b7020c4210e12882ffca0428919a2.jpg', 'Two', 'Â£19.92']
Book information saved to the database
Book information saved to the database
Book information saved to the database
Book information saved to the database
['908', 'Layered: Baking, Building, and Styling Spectacular Cakes', 'http://books.toscrape.com/media/cache/73/06/7306b860c7887dfb2a4b0083e2d6bf0d.jpg', 'One', 'Â£40.11']
['912', 'Judo: Seven Steps to Black Belt (an Introductory Guide for Beginners)', 'http://books.toscrape.com/media/cache/6d/80/6d80608ef81001ad068df06fae44b7f8.jpg', 'Two', 'Â£53.90']
Book information saved to the database
['840', 'Join', 'http://books.toscrape.com/media/cache/df/64/df642e483f7ae23de6888c73f05e2014.jpg', 'Five', 'Â£35.67']
Book information saved to the database
Book information saved to the database
['922', 'In the Country We Love: My Family Divided', 'http://books.toscrape.com/media/cache/11/08/1108a8d9ebccd9cd474012121c32a7f5.jpg', 'Four', 'Â£22.00']

In [2]:
import requests
from bs4 import BeautifulSoup
from urllib3.exceptions import InsecureRequestWarning
from bs4 import BeautifulSoup
import pymysql
from urllib.parse import urljoin
import os
from concurrent.futures import ThreadPoolExecutor
import csv
requests.packages.urllib3.disable_warnings(InsecureRequestWarning)
import random

def get_ip():
    # 快代理的ip
    url = "http://api.tianqiip.com/getip?secret=cx1xlfx52o8s1rdq&num=5&type=txt&lb=%5Cn&region=440000&port=1&time=5&mr=1&sign=15fb650d0f872b891e37db13014c89d7"
    res = requests.get(url)
    print(res.text)
    if res.status_code==200:
        prox = res.text
    prox = res.text.split("\n")[:-1]
    proxy = [{'http':'http://'+i} for i in prox]
    # 使用前可判断一下是否可用，也可能返回其他state code，具体就依据具体情况解决
    print(proxy)
    ts = "http://www.baidu.com/"
    # ip = []
    for j in proxy:
        try:
            r = requests.get(ts,proxies=j)
        except:
            print("ip不可用")
    return prox

# 使用ip
# def download_pages(url):
#     print(url)
#     ip_list = get_ip()
#     headers = {
#             'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36',
#             'cookie': 'ZFY=5S:B8OLUq:BOD8mVNCD4o0ZmLhkOrHTzZooj6LRBWCa2E:C; BCLID_BFESS=12915262214570578280; BDSFRCVID_BFESS=CQ-OJeC62GDmcJvfz9aVEHtYogbM-ARTH6_nOMpJ2ushD7GJP9EHEG0PpU8g0KAMOXYnogKK5mOTH65FCeIKEZjgOUBLV6qSzhY6tf8g0f5; H_BDCLCKID_SF_BFESS=Jn-8oC0KtDK3fP36q4Job-_ObhuX5-RLf5Tv_p7F5l8-hR4mbfbY545LKnn9qURu35r7QJ45WIQxOKQ3hxRjQxATBPcJQ6cQJeOKWfTN3KJmSbL9bT3vjMrBhR5u2-biWbTL2MbdJqvP_IoG2Mn8M4bb3qOpBtQmJeTxoUJ25DnJhbLGe6KKj6Q-eHueqbTeM6-X3JjV5PK_Hn7zep5K5M4pbtbC56b7KDCJ2bLhbKJ4f4OaytDKyUnQbPnnBT572nTkXCn7tfQ_D4D93RQPDTDkQN3Tb4KO5bRiLRolyPOWDn3oyToVXp0nj4Rly5jtMgOBBJ0yQ4b4OR5JjxonDh83bG7MJUutfJAJoCIKtC02bP365ITJhPAthxR22D62aKDs5MDEBhcqEIL4QUOV-UIBblC85l54WTnkWb3tB66NVxbSjln_XUuQyG5tb-vRJ2vZbITNWp5nhMJx3j7JDMPFXtnvX46y523i_R6vQpP-MqQJbfrvQqIqbPnP3f7pJj6gXJnwJtbtbb0xb6_0-nDSHHDHtjDH3D; H_PS_PSSID=26350; BAIDUID_BFESS=63794D23AE5CA338662673806B2AE198:FG=1; BDUSS_BFESS=WNiOXNZRlAybHNWVzRJcExZeVh3cVFBUzczaFZFOHhRRXJwaDFmZDB5R2ptUzlsSVFBQUFBJCQAAAAAAQAAAAEAAAA9UMk-sK67qrbByukAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKMMCGWjDAhle; ab_sr=1.0.1_NDFmOGUwZDRjMDg3YTU4NDY0NTgzMzVhYmM4ZmExMjc4NGFmZTM5YWU4OTVkZjUwYWQ4M2Y0YjdmNDdjYjcxNjYwMDdkNTE2ZDBmMzIwNWU3MzY2OGY3NmI1MmQ5NTU2ZGFiYzg5NDVjNzQzZTdmNjY0NTUwZjk1Mjg0Y2UwNmVkYmUwMmQxZDQ0ZGMxMzM1ZGZiZWRiYzk0MWUxNjRkMTBlNWQxM2QxNTA0M2ViMmQ4ZWFjNjA0N2YzMzJhMDBi',
#             'Connection':'close'}
#     ip = random.choice(ip_list)
#     ip = '125.89.44.123:40018'
#     proxies = {"http":f"http://{ip}"}
#     try:
#         response = requests.get(url, headers=headers, stream=True, verify=False, proxies=proxies, timeout=2)
#         response.raise_for_status()  # Raise an HTTPError for bad responses
#         return response.content.decode('utf-8')  # Decode the bytes to a string
#     except requests.RequestException as e:
#         print(f"Error downloading page {url}: {e}")
#         return None
    
# 不使用ip
def download_pages(url):
    headers = {
            'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36',
            'cookie': 'ZFY=5S:B8OLUq:BOD8mVNCD4o0ZmLhkOrHTzZooj6LRBWCa2E:C; BCLID_BFESS=12915262214570578280; BDSFRCVID_BFESS=CQ-OJeC62GDmcJvfz9aVEHtYogbM-ARTH6_nOMpJ2ushD7GJP9EHEG0PpU8g0KAMOXYnogKK5mOTH65FCeIKEZjgOUBLV6qSzhY6tf8g0f5; H_BDCLCKID_SF_BFESS=Jn-8oC0KtDK3fP36q4Job-_ObhuX5-RLf5Tv_p7F5l8-hR4mbfbY545LKnn9qURu35r7QJ45WIQxOKQ3hxRjQxATBPcJQ6cQJeOKWfTN3KJmSbL9bT3vjMrBhR5u2-biWbTL2MbdJqvP_IoG2Mn8M4bb3qOpBtQmJeTxoUJ25DnJhbLGe6KKj6Q-eHueqbTeM6-X3JjV5PK_Hn7zep5K5M4pbtbC56b7KDCJ2bLhbKJ4f4OaytDKyUnQbPnnBT572nTkXCn7tfQ_D4D93RQPDTDkQN3Tb4KO5bRiLRolyPOWDn3oyToVXp0nj4Rly5jtMgOBBJ0yQ4b4OR5JjxonDh83bG7MJUutfJAJoCIKtC02bP365ITJhPAthxR22D62aKDs5MDEBhcqEIL4QUOV-UIBblC85l54WTnkWb3tB66NVxbSjln_XUuQyG5tb-vRJ2vZbITNWp5nhMJx3j7JDMPFXtnvX46y523i_R6vQpP-MqQJbfrvQqIqbPnP3f7pJj6gXJnwJtbtbb0xb6_0-nDSHHDHtjDH3D; H_PS_PSSID=26350; BAIDUID_BFESS=63794D23AE5CA338662673806B2AE198:FG=1; BDUSS_BFESS=WNiOXNZRlAybHNWVzRJcExZeVh3cVFBUzczaFZFOHhRRXJwaDFmZDB5R2ptUzlsSVFBQUFBJCQAAAAAAQAAAAEAAAA9UMk-sK67qrbByukAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKMMCGWjDAhle; ab_sr=1.0.1_NDFmOGUwZDRjMDg3YTU4NDY0NTgzMzVhYmM4ZmExMjc4NGFmZTM5YWU4OTVkZjUwYWQ4M2Y0YjdmNDdjYjcxNjYwMDdkNTE2ZDBmMzIwNWU3MzY2OGY3NmI1MmQ5NTU2ZGFiYzg5NDVjNzQzZTdmNjY0NTUwZjk1Mjg0Y2UwNmVkYmUwMmQxZDQ0ZGMxMzM1ZGZiZWRiYzk0MWUxNjRkMTBlNWQxM2QxNTA0M2ViMmQ4ZWFjNjA0N2YzMzJhMDBi',
            'Connection':'keep-alive'}
    try:
        response = requests.get(url, headers=headers, stream=True, verify=False)
        response.raise_for_status()  # Raise an HTTPError for bad responses
        return response.content.decode('utf-8')  # Decode the bytes to a string
    except requests.RequestException as e:
        print(f"Error downloading page {url}: {e}")
        return None
    
def get_doulist_movie_links(doulist_url, num_links=10):
    response = download_pages(doulist_url)
    # print(response)
    soup = BeautifulSoup(response, 'html.parser')
    
    # Extract href from class="post" elements
    post_elements = soup.find_all('div', class_='post')
    movie_links = [element.find('a')['href'] for element in post_elements]
    
    return movie_links[:num_links]

def get_reviews_links(movie_url):
    reviews_url = f"{movie_url}reviews?start="
    reviews_links = []

    start = 0
    while True:
        response = download_pages(f"{reviews_url}{start}")
        # print(f"{reviews_url}{start}")
        soup = BeautifulSoup(response, 'html.parser')
        
        # Extract href from review links
        review_elements = soup.find_all('h2')
        current_review_links = [element.find('a')['href'] for element in review_elements]

        # If no more reviews, break the loop
        if not current_review_links:
            break

        reviews_links.extend(current_review_links)
        start += 20  # Assuming 20 reviews per page, adjust if needed

    return reviews_links

def save_to_mysql(movie, author, review):
    try:
        sql = "INSERT INTO movies (movie, author, review) VALUES (%s, %s, %s)"
        values = (movie, author, review)
        mysql_conn.ping(reconnect=True)
        mysql_cursor.execute(sql, values)
        mysql_conn.commit()
        print("Movie information saved to the database")
    except Exception as e:
        print(f"Error saving to the database: {e}")

def save_to_csv(data):
    header = ["movie", "author", "review"]
    csv_filename = 'movies.csv'
    if not os.path.exists(csv_filename):
        with open(csv_filename, 'w', newline='', encoding='utf-8') as csvfile:
            csv_writer = csv.writer(csvfile)
            csv_writer.writerow(header)

    with open(csv_filename, 'a', newline='', encoding='utf-8') as csvfile:
        csv_writer = csv.writer(csvfile)
        csv_writer.writerow(data)
        
def scrape_movie_info(url):
    try:
        response = download_pages(url)
        soup = BeautifulSoup(response, 'html.parser')
        review = soup.find('div', class_='review-content').get_text(separator='\n', strip=True)
        author = soup.find('header').find('a').find('span').get_text(strip=True)
        movie = soup.find('header').find_all('a')[1].get_text(strip=True)
        save_to_mysql(movie, author, review)
        save_to_csv([movie, author, review])
        # print(author,movie,review)

    except Exception as e:
        print(f"Error scraping {url}: {e}")

def get_review_urls(doulist_url):
    urls = []
    movie_links = get_doulist_movie_links(doulist_url, num_links=10)
    for movie_link in movie_links:
        reviews_links = get_reviews_links(movie_link)
        urls.extend(reviews_links)
    return urls
    

if __name__ == "__main__":
    doulist_url = "https://www.douban.com/doulist/5257286/"
    # 初始化数据库连接
    mysql_conn = pymysql.connect(host='localhost', user='root', password='mysqlpassword', database='books_db')
    mysql_cursor = mysql_conn.cursor()
    # 获取全部的影评链接
    urls = get_review_urls(doulist_url)
    # print(urls)
    # 多进程
    num_threads = 6
    with ThreadPoolExecutor(max_workers=num_threads) as executor:
        executor.map(scrape_movie_info, urls)
    # 关闭数据库连接
    mysql_cursor.close()
    mysql_conn.close()

Error saving to the database: 'NoneType' object has no attribute 'settimeout'
Movie information saved to the database
Movie information saved to the database
Movie information saved to the databaseError saving to the database: Packet sequence number wrong - got 1 expected 2

Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'read'Error saving to the database: Packet sequence number wrong - got 35 expected 2

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x92\\x9D\\x0A\\xE5...' for column 'review' at row 1")
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the databaseError saving to the database: Packet sequence number wrong - got 1 expected 2

Error saving to the database: Packet sequence number wrong - got 115 expected 3
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'read'Error saving to the database: (2013, 'Lost connection to MySQL server during query')

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x8D\\x83\\xEF\\xB8...' for column 'review' at row 1")
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x94\\xA5' for column 'review' at row 1")
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'settimeout'
Movie information saved to the database
Error saving to the database: (2013, 'Lost connection to MySQL server during query')
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'read'Error saving to the database: Packet sequence number wrong - got 35 expected 2

Error saving to the database: Packet sequence number wrong - got 115 expected 3
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: Packet sequence number wrong - got 1 expected 2
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x8D\\x90' for column 'author' at row 1")
Movie information saved to the database
Error saving to the database: (2013, 'Lost connection to MySQL server during query')
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x91\\xE7\\x9C...' for column 'review' at row 1")
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'settimeout'Error saving to the database: Packet sequence number wrong - got 1 expected 1

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'read'Error saving to the database: (2013, 'Lost connection to MySQL server during query')

Movie information saved to the database
Movie information saved to the database
Movie information saved to the databaseError saving to the database: Packet sequence number wrong - got 1 expected 2

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x8D\\xAC' for column 'author' at row 1")
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x92\\x94\\xEF\\xBC...' for column 'review' at row 1")
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x90\\xB7' for column 'author' at row 1")
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x91\\xA7' for column 'author' at row 1")
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: Packet sequence number wrong - got 1 expected 2Error saving to the database: 'NoneType' object has no attribute 'read'

Error saving to the database: Packet sequence number wrong - got 7 expected 2
Error saving to the database: (2013, 'Lost connection to MySQL server during query')
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x90\\xB6\\xE5\\xB7...' for column 'review' at row 1")
Movie information saved to the database
Movie information saved to the databaseError saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x90\\x8C\\xE5\\xBC...' for column 'author' at row 1")

Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x8C\\x88\\xE5\\xA4...' for column 'author' at row 1")
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x8C\\xBB' for column 'author' at row 1")
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'read'
Movie information saved to the database
Error saving to the database: (2013, 'Lost connection to MySQL server during query')
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'read'Error saving to the database: Packet sequence number wrong - got 1 expected 2

Movie information saved to the database
Error saving to the database: Packet sequence number wrong - got 1 expected 1
Error saving to the database: 'NoneType' object has no attribute 'settimeout'Error saving to the database: 'NoneType' object has no attribute 'settimeout'
Error saving to the database: (2013, 'Lost connection to MySQL server during query')

Movie information saved to the database
Movie information saved to the database
Movie information saved to the databaseError saving to the database: Packet sequence number wrong - got 1 expected 2

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x91\\x8D\\xE8\\x99...' for column 'review' at row 1")
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the databaseError saving to the database: Packet sequence number wrong - got 1 expected 2

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'read'
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: Packet sequence number wrong - got 1 expected 2
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'settimeout'
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'settimeout'Error saving to the database: Packet sequence number wrong - got 1 expected 1Error saving to the database: 'NoneType' object has no attribute 'settimeout'


Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x8E\\xB6\\xE9\\x85...' for column 'review' at row 1")
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x8E\\xB6 \\xE6...' for column 'author' at row 1")
Movie information saved to the database
Error saving to the database: (2013, 'Lost connection to MySQL server during query')Error saving to the database: Packet sequence number wrong - got 7 expected 2

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x8C\\x88\\xE5\\xA4...' for column 'author' at row 1")
Movie information saved to the database
Error saving to the database: Packet sequence number wrong - got 1 expected 2Error saving to the database: 'NoneType' object has no attribute 'settimeout'

Movie information saved to the database
Error saving to the database: (2013, 'Lost connection to MySQL server during query')Error saving to the database: Packet sequence number wrong - got 48 expected 1

Movie information saved to the database
Movie information saved to the databaseError saving to the database: Packet sequence number wrong - got 1 expected 2

Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x98\\x82)\\xEF...' for column 'review' at row 1")
Error saving to the database: 'NoneType' object has no attribute 'settimeout'Error saving to the database: Packet sequence number wrong - got 1 expected 1

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x90\\xBA\\xEF\\xBC...' for column 'review' at row 1")
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (2013, 'Lost connection to MySQL server during query')Error saving to the database: Packet sequence number wrong - got 7 expected 2

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'read'Error saving to the database: Packet sequence number wrong - got 1 expected 2

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'settimeout'
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x92\\xAB' for column 'author' at row 1")
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x90\\xB6' for column 'review' at row 1")
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: Packet sequence number wrong - got 1 expected 2
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (1366, "Incorrect string value: '\\xF0\\x9F\\x92\\x8B' for column 'author' at row 1")
Error saving to the database: 'NoneType' object has no attribute 'settimeout'
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'settimeout'Error saving to the database: Packet sequence number wrong - got 1 expected 1

Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'settimeout'
Error saving to the database: 'NoneType' object has no attribute 'read'Error saving to the database: 'NoneType' object has no attribute 'settimeout'

Error saving to the database: (2013, 'Lost connection to MySQL server during query')
Error saving to the database: 'NoneType' object has no attribute 'settimeout'
Error saving to the database: Packet sequence number wrong - got 2 expected 2
Movie information saved to the database
Error saving to the database: (2013, 'Lost connection to MySQL server during query')Error saving to the database: Packet sequence number wrong - got 7 expected 1

Error saving to the database: 'NoneType' object has no attribute 'settimeout'
Error saving to the database: (2013, 'Lost connection to MySQL server during query')
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'read'Error saving to the database: (2013, 'Lost connection to MySQL server during query')

Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'settimeout'
Movie information saved to the database
Error saving to the database: Packet sequence number wrong - got 1 expected 1Error saving to the database: 'NoneType' object has no attribute 'settimeout'

Error saving to the database: Packet sequence number wrong - got 1 expected 0Error saving to the database: 'NoneType' object has no attribute 'settimeout'

Error saving to the database: Packet sequence number wrong - got 115 expected 3
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the databaseError saving to the database: Packet sequence number wrong - got 1 expected 2

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (2013, 'Lost connection to MySQL server during query')
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'settimeout'
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'read'Error saving to the database: Packet sequence number wrong - got 1 expected 2

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: 'NoneType' object has no attribute 'read'Error saving to the database: (2013, 'Lost connection to MySQL server during query')

Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: (2013, 'Lost connection to MySQL server during query')
Error saving to the database: (2013, 'Lost connection to MySQL server during query')
Error saving to the database: 'NoneType' object has no attribute 'settimeout'
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Movie information saved to the database
Error saving to the database: Packet sequence number wrong - got 1 expected 2